@import "reset";

body{
	background-color: black;
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

.main{
	margin: 0 auto;
	max-width: 1000px;
}

header{
	width: 100%;
	background-color: rgba(255,255,255,.5);
	position: fixed;
	.asoiaf{
		width: 49%;
		font-size: 36px;
		display: inline-block;
	}
	.nav{
		width: 49%;
		display: inline-block;
		text-align: right;
		li{
			display: inline-block;
			margin: 10px 20px;
			font-size: 22px;
		}
	}
}
.hero{
	text-align: center;
	width: 100%;
	background-image: url('/img/raven.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
	img{
		display: none;
	}
}
.history header .nav .lhistory{
	text-shadow: 1px 1px 5px white;
}
.map header .nav .lmap{
	text-shadow: 1px 1px 5px white;
}
.houses header .nav .lhouses{
	text-shadow: 1px 1px 5px white;
}
@media only screen and (max-width: 600px){
	body{
		header{
			position: static;
			.asoiaf{
				width: 100%;
				text-align: center;
				margin-bottom: 5px;
				padding: 10px;
			}
			.nav{
				width: 100%;
				text-align: center;
				margin-bottom: 5px;
				li{
					display: inline-block;
					margin: 10px 30px;
					font-size: 22px;
				}
			}
		}
		.hero{
			background-image: none;
			img{
				display: block;
				height: auto;
				width: 100%;
			}
		}
	}
}